<footer>
    
    
        <div class="title"><h4>RESUMIN</h4></div>
        <div class="desc">
            Craft your perfect resume in minutes with our intuitive platform.<br>Instantly generate professional resumes tailored to your needs.<br>Join us and create your standout resume in no time.
                
         </div>
        
        <div class="links">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/srikanth-maganti"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/srikanth-maganti-b19969277/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/sreee_maganti/"><i class="fa-brands fa-instagram"></i></a>
            <br>
            developed by-: <i class="author">Maganti Srikanth</i>
        </div>
        
    
</footer>
