<footer>
    
    
        <div class="title"><h4>RESUMIN</h4></div>
        <div class="desc">
            Craft your perfect resume in minutes with our intuitive platform.<br>Instantly generate professional resumes tailored to your needs.<br>Join us and create your standout resume in no time.
                
         </div>
        
        <div class="links">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            
        </div>
    
</footer>
