<% layout('/layouts/boilerplate') -%>
<style>
    .error{
        position:relative;
        top:50%;
        left:50%;
        transform: translate(-50%);

        
    }
    .alert{
        text-align: center;
    }
</style>
<div class="row error">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <%= message %>
      </div>
</div>