<% layout('/layouts/boilerplate') -%>

    <style>
        .animation{
           box-shadow: 2px 2px 10px skyblue;
        }

        @media(max-width:400px){
            .card{
                margin-top:7rem;
            }
        }
    </style>
        <div  class="card" style="width: 11rem;">
                <img src="/image1.jpg" alt="nothing" class="card-img">
                <div class="card-body">
                    <a href="/view/resume"><button class="btn btn-warning btn-sm view">View</button></a>
                    <a href="/templates/new"><button class="btn btn-primary btn-sm use">Use</button></a>
                </div>
        </div>
        
        
        <!--<div class="card cv" style="width:20rem;">
                <img src="/image1.jpg" alt="nothing" class="card-img">
                <div class="card-body">
                    <a href="/view/resume"><button class="btn btn-warning view">View</button></a>
                    <a href="/templates/new"><button class="btn btn-success Use">Use</button></a>

                </div>
                
            </div> -->
            

        
       

   
